{% extends "_global/index.html" %}

{% block main %}

<div>
    <div class="options">
        <a href="{{ BASE }}user/auctions">List my auctions</a>
    </div>

    <form class="auctions-form" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required class="form-control">
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" required class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="starting_price">Starting price:</label>
            <input type="number" id="starting_price" name="starting_price" required class="form-control" min="0.01" step="0.01">
        </div>

        <div class="form-group">
            <label for="starts_at">Starts at:</label>
            <input type="datetime-local" id="starts_at" name="starts_at" required class="form-control">
        </div>

        <div class="form-group">
                <label for="ends_at">Ends at:</label>
                <input type="datetime-local" id="ends_at" name="ends_at" required class="form-control">
        </div>

        <div class="form-group">
            <label for="category_id">Auction category:</label>
            <select class="form-control" name="category_id" id="category_id">
                {% for category in categories %}
                <option value="{{ category.category_id }}">
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
                <label for="image">Image: </label>
                <input type="file" id="image" name="image" required class="form-control" accept="image/jpeg">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Add auction
            </button>
        </div>

        

    </form>

</div>
{% endblock %}
