{% extends "_global/index.html" %}
{% block head %}

<link rel="stylesheet" href="/mvc_php_milan/assets/css/main.css">
{% endblock %}
{% block main %}

<div>
    <h3>Login</h3>
    <p>{{ message }}</p>
    <p>Klikni <a href="/mvc_php_milan/user/login">Ovdje </a> da se vratis natrag </p>
</div>

{% endblock %}