.main-menu {
    margin-bottom: 20px;
}

.social-icons {
    margin-bottom: 10px;
    margin-top: 10px;
}

.social-icons a i.fa {
    color: #dc0004;
    font-size: 20pt;
    display: inline-block;
    margin: 5px;
}


.category {
    padding: 20px 0px;
}

.bookmars-card {
    margin: 10px 0;
}

.auction {
    margin-bottom: 15px;
}

.width-100-percent {
    width: 100%;
}




/** {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0 auto;
    max-width: 1100px;
    width: 1100px;
}

.site-header {
    display: grid;
    grid-template-areas: "banner social"
                         "banner search"
                         "menu   menu ";
}

.banners { grid-area: banner; background-color: chocolate}
.social-icons { grid-area: social; text-align: right}
.search-box { grid-area: search; text-align: right}

.social-icons img {
    margin: 0px 10px;
    height: 16px;
    width: 16px;
}

#main-menu {
    grid-area: menu;
    margin: 20px;
}

#main-menu > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    aling-items: stretch;
    align-content: stretch;
}

#main-menu > ul > li {
    text-align: center;
    flex-grow: 1;
}

#main-menu > ul > li:hover {
    background: rgba(200, 200, 200, 0.3);
}

#main-menu > ul > li > a {
    text-decoration: none;
    padding: 10px 0px;
    display: block;
    color: #000;
}

.categories {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
}

.category {
    width: 50%;
    text-align: center;
    padding: 50px 100px;
    border: 1px solid #ccc;
    background: rgba(200, 200, 200, 0.2);
    text-decoration: none;
    color: black;
}
.category:hover {
    border: 1px solid #000;
    background: rgba(200, 200, 200, 0.6);
}

.site-footer {
    margin: 40px;
    text-align: center;
}

.auction {
    display: grid;
    grid-template-areas: "big-image big-image small-image-1 title title title"
                         "big-image big-image small-image-2 date1 date2 price";
    grid-template-columns: 120px 0px 80px auto;
    border-bottom: 1px solid #444;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.auction > .auction-title {  grid-area: title; }
.auction > .auction-date1 {  grid-area: date1; text-align: center; }
.auction > .auction-date2 {  grid-area: date2; text-align: center; }
.auction > .auction-price {  grid-area: price; text-align: right; }
.auction > .auction-big-image {  grid-area: big-image; }
.auction > .image-1 {  grid-area: small-image-1; width: 80px; }
.auction > .image-2 {  grid-area: small-image-2; width: 80px; }

.bookmarks {
    border: 1px solid #000000;
    background: #fefefe;
    position: fixed;
    display: block;
    right: 0px;
    top: 50px;

} */