{% extends "_global/index.html" %}

{% block main %}

<div>
    <div class="options">
        <a href="{{ BASE }}user/categories">List all categories</a>
        <a href="{{ BASE }}user/categories/add">Add new category</a>
    </div>

    <form class="category-form" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ category.name|escape }}">
        </div>

        <div>
            <button type="submit">Edit category</button>
        </div>

    </form>

</div>
{% endblock %}
