<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Naslov {% block naslov %} Pocetna {% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
    <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
    {% endblock %}
</head>
<body>
<div class="container">
    <header>
        <div class="row">
            <div class="col col-sm">
                <a href="{{ BASE }}">
                    <img src="{{ BASE }}assets/img/banner-1.png" alt="Banner 1" height="100px;">
                </a>
            </div>

            <div class="col col-sm">
                <div class="social-icons text-right">
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook-official"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
                <div class="search-box">
                    <form method="post" action="{{ BASE }}search">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="q" placeholder="Search" class="form-control">
                                <button type="submit" class="btn btn-primary input-group-append">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{ BASE }}"><i class="fa fa-home"></i> Početna <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="{{ BASE }}categories"><i class="fa fa-list"></i> Kategorija</a>
                    <a class="nav-item nav-link" href="{{ BASE }}user/profile"><i class="fa fa-user"></i> Profil</a>
                    <a class="nav-item nav-link" href="{{ BASE }}contact"><i class="fa fa-phone"></i> Kontakt</a>
                    <a class="nav-item nav-link" href="{{ BASE }}user/logout"><i class="fa fa-sign-out"></i> Odjava</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>

    <div class="card bookmark-card">
        <div class="bookmarks card-body">
            Loading Bookmarks ...
        </div>
    </div>

    <footer class="site-footer">
        &copy; 2020 Kruno
    </footer>
</div>
    <script>const BASE = '{{ BASE }}';</script>
    <script src="{{ BASE }}/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="{{ BASE }}/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ BASE }}/assets/js/bookmark.js"></script>
</body>
</html>