{% extends "_global/index.html" %}

{% block main %}

    <ul>
        {% for auction in auctions %}
            <li class="auction">
                <a href="{{ BASE }}auction/{{ auction.auction_id }}" class="auction-title">
                    {{ auction.title|escape }}
                </a><br>
                <span class="auction-date1">{{ auction.starts_at }}</span>
                <span class="auction-date2">{{ auction.ends_at }}</span>
                <span class="auction-price">{{ auction.starting_price }} &euro;</span>

                <a href="{{ BASE }}auction/{{ auction.auction_id}}" class="auction-big-image">
                    <img src="https://www.next.ba/slike/velike/not-hp-probook-450-g5-3re58ava330000.jpg" alt="Velika slika  - {{ auction.auction_id }}" style="height: 100px; width: 120px">
                </a>
                <!--<img src="#" alt="Mala slika 1 - {{ auction.id }}" class="auction-small-image image-1">
                <img src="#" alt="Mala slika 2 - {{ auction.id }}" class="auction-small-image image-2">-->
        {% endfor %}
    </ul>
{% endblock %}

{% block naslov %}
Rezultati pretrage
{% endblock %}

